.input-window {
  width: 200px;
  height: 40px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.input-window input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
}
